.section-photos{
background-color: black;
padding: 10px;
margin: 50px 0;
color: white;
}

.section-character{
    margin-bottom: 10px;
}

.photos-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.photoimg{
border-radius: 15px;
}
